<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Moja Strona{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Strona Główna</a></li>
            {% if user.is_authenticated %}
            <li><form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Wyloguj {{ user.username }}</button>
            </form></li>
            {% else %}
             <li><a href="{% url 'login' %}">Logowanie</a></li>
             {% endif %}
            <li><a href="{% url 'register' %}">Rejestracja</a></li>
            <li><a href="{% url 'password_change' %}">Zmień hasło</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <h1>Witaj na mojej stronie!</h1>
        {% endblock %}
    </main>
</body>
</html>