{% extends "posts/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if form %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% else %}
<h1>{{ post.title }}</h1>
<p><small>By {{ post.author }} on {{ post.posted_at|date }}</small></p> 
{% comment %} post.posted_at|date:"d.m.Y H:i" {% endcomment %}
<p>{{ post.content }}</p>
{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
{% endif %}
{% endif%}
{% endblock %}
